.comming-soon-main-container {
  margin: 20px 10px;
}
.expected-milestones-main-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}
.miles-stone {
  background-color: #fafcff;
  width: calc(50% - 10px);
  padding: 10px;
  border-radius: 20px;
}
.mega-phone {
  height: 100px;
  width: 80%;
  background-color: transparent;
  margin: 0 auto;
}
