.steps-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.step-container {
  padding: 10px;
  background-color: #fafcff;
}
.connect-wallet-animation {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  animation: animate-connect-button;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pools {
  width: 120px;
  text-align: center;
  font-weight: 500;
  margin: 5px 0;
  background-color: transparent;
}
.pool-1 {
  animation: pool-one;
  animation-delay: 0s;
  animation-duration: 6s;
  background-color: transparent;
}
.pool-2 {
  animation: pool-one;
  animation-delay: 6s;
  animation-duration: 4s;
}
.pool-3 {
  animation: pool-one;
  animation-delay: 10s;
  animation-duration: 4s;
}
@keyframes animate-connect-button {
  from {
    background-color: black;
  }
  to {
    background-color: var(--primary-color);
  }
}
@keyframes pool-one {
  from {
    background-color: transparent;
    color: black;
  }
  to {
    background-color: var(--primary-color);
    color: white;
  }
}
