.steps-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.step-container {
  padding: 10px;
  background-color: #fafcff;
  /* flex: 1; */
  width: calc(50% - 10px);
}
.connect-wallet-animation {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  animation: animate-connect-button;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pools {
  /* width: 120px; */
  text-align: center;
  font-weight: 500;
  margin: 5px 0;
  background-color: transparent;
}
.pool-1 {
  animation: pool-one;
  animation-delay: 0s;
  animation-duration: 6s;
  background-color: transparent;
}
.pool-2 {
  animation: pool-one;
  animation-delay: 6s;
  animation-duration: 4s;
  background-color: transparent;
}
.pool-3 {
  animation: pool-one;
  animation-delay: 10s;
  animation-duration: 4s;
  background-color: transparent;
}
.deposit-asset-container {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  animation: animate-connect-button;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.deposit-asset-main-container {
  position: relative;
}
#cursor-icon {
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: transparent;
  animation: move-mouse;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.reward-crypto-main-container {
  position: relative;
}
.reward-crypto-container {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.reward-1,
.reward-2,
.reward-3,
.reward-4 {
  position: absolute;

  background-color: transparent;
}
.reward-4 {
  opacity: 0;
  animation: reward-4;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.reward-3 {
  opacity: 0;
  animation: reward-3;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.reward-2 {
  animation: reward-2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.reward-1 {
  animation: reward-1;
  opacity: 0;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes reward-1 {
  0% {
    top: 0;
    left: 0;
    opacity: 0;
  }
  50% {
    top: 40%;
    left: 0;
    opacity: 1;
  }
  100% {
    top: 80%;
    left: 0;
    opacity: 1;
  }
}
@keyframes reward-2 {
  0% {
    top: 0;
    left: 30%;
    opacity: 0;
  }
  50% {
    top: 40%;
    left: 30%;
    opacity: 1;
  }
  100% {
    top: 80%;
    left: 30%;
    opacity: 1;
  }
}

@keyframes reward-3 {
  0% {
    top: 0;
    left: 60%;
    opacity: 0;
  }
  50% {
    top: 40%;
    left: 60%;
    opacity: 1;
  }
  100% {
    top: 80%;
    left: 60%;
    opacity: 1;
  }
}
@keyframes reward-4 {
  0% {
    top: 0;
    right: 0%;
    opacity: 0;
  }
  50% {
    top: 40%;
    right: 0%;
    opacity: 1;
  }
  100% {
    top: 80%;
    right: 0%;
    opacity: 1;
  }
}
@keyframes animate-connect-button {
  from {
    background-color: black;
  }
  to {
    background-color: var(--primary-color);
  }
}
@keyframes pool-one {
  from {
    background-color: transparent;
    color: black;
  }
  to {
    background-color: var(--primary-color);
    color: white;
  }
}
@keyframes move-mouse {
  0% {
    top: 0;
    right: 0;
    opacity: 0;
  }
  30% {
    top: 20px;
    right: 30px;
    opacity: 1;
  }
  100% {
    top: 60px;
    right: 60px;
    opacity: 1;
  }
}
@media screen and (min-width: 700px) {
  .step-container {
    width: 150px;
  }
  .steps-main-container {
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .step-container {
    width: 200px;
  }
}
