.benefits-main-container {
  padding: 20px;
}
.benefit-container {
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.security {
  margin-left: 10px;
  animation: benefit-container-animation;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.flexibility {
  margin-left: 30px;
  animation: benefit-container-animation;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
.liquidity {
  margin-left: 50px;
  animation: benefit-container-animation;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes benefit-container-animation {
  0% {
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: 2px solid var(--primary-color);
  }
  40% {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 2px solid var(--primary-color);
  }
  60% {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 2px solid var(--primary-color);
  }
  100% {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid var(--primary-color);
  }
}

@media screen and (min-width: 700px) {
  .security {
    margin-left: 60px;
    margin-right: 60px;
  }
  .flexibility {
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 20px;
  }
  .liquidity {
    margin-left: 120px;
    margin-right: 60px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .security {
    margin-left: 200px;
    margin-right: 150px;
  }
  .flexibility {
    margin-left: 260px;
    margin-right: 150px;
  }
  .liquidity {
    margin-left: 310px;
    margin-right: 150px;
  }
}
